doctype html
html
    head
        title #{title}
    body
        h1 #{survey.title}
        p Description: #{survey.description}
        if survey.expires_at
            p Expires At: #{formattedExpiresAt}
        else
            p No expiration date

        form(action=`/home/survey/${survey._id}/take` method="GET")
            button(type="submit") Take survey

