extends layout_home

block content
  h1= title

  .survey-details
    h2 Survey Details
    p(class="fw-bold") Title: #{survey.title}
    p Description: #{survey.description}
    p Published On: #{formattedPublishedAt}
    p Expires On: #{formattedExpiresAt}
    p Number of takes: #{takeCount} 
 
  h2 QR Code for this Survey
  img(src=qrCode alt="QR Code for Survey")

  .analytics
    h2 Analytics

    each result in results
      .question(class="mb-4")
        h3= result.questionText
        if result.type === 'multiple-choice'
          ul(class="list-group")
            each option, count in result.counts
              li(class="list-group-item")
                strong= option
                span= " - " + count + " response(s)"
        else if result.type === 'rating'
          p Average Rating: #{result.average}
        else if result.type === 'text'
          p Text Responses Summary:
          ul(class="list-group")
            li(class="list-group-item") Positive Responses: #{result.positiveCount}
            li(class="list-group-item") Neutral Responses: #{result.neutralCount}
            li(class="list-group-item") Negative Responses: #{result.negativeCount}
