extends layout_home

block content
  h1 #{title}

  h2 Questions and Analytics
  each question in survey.questions
    h3 #{question.questionText}
    if analytics[question._id].type === "multiple-choice"
      ul
        each option, count in analytics[question._id].counts
          li #{option}: #{count} 
    else if analytics[question._id].type === "rating"
      p Average Rating: #{analytics[question._id].average.toFixed(2)}
    else if analytics[question._id].type === "text"
      ul
        each textResponse in analytics[question._id].responses
          li #{textResponse}

  a(href="/home/my-surveys") Back to My Surveys

