extends layout_home

block content
  h1 My surveys

  h2 Published surveys
  if published_surveys.length
    ul
      each survey in published_surveys
        li
          a(href=survey.published_url) #{survey.survey.title}
          |  (Published on #{moment(survey.published_at).format("MMMM Do YYYY")})
  else
    p You haven't published any surveys yet.

  h2 Saved surveys
  if draft_surveys.length
    ul
      each survey in draft_surveys
        li
          a(href=survey.saved_url) #{survey.title}
          |  (Created on #{moment(survey.createdAt).format("MMMM Do YYYY")})
  else
    p You haven't created any surveys yet.

